@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondery-bg{
    background-color: #FFF8F3;
}
.taxe-primari{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
 
.dark-2{
    color: #1E1E1E;
}
.dark-3{
    color:#757575;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
} 

.sction-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left ,bottom right ;

}

/* Nav styles */

.nav-taitel{
    font-weight: 800;
    font-size: 45px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.banner{
    justify-content: space-between;
    display: flex;
    margin: 0 35px 0 200px ;
}
.banner-content{
    font-weight: 585px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px ;
    font-weight: bold;
}
.banner-profile-pic{
    font-weight: 584px;
}
/* main style */
main{
    max-width: 1140px; 
    margin: 0 auto; 
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}

/* aboud style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content:space-around ;
}


.item-discription {
    font-weight: bold;
}
.text-center{
    text-align: center;
}
/*  skills section style  */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume style */
.resumi-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;

}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}
.experience-title{
    color: #1E1E1E;
    font-size: 25px;
    font-weight: bold;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
}
.experience-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
/* button */
.edit-btn{
    margin-top:50px ;
    text-align: center;
}
/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 110px;
}
.footer-colum{
    width: 50%;

}
.input {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}